//font
$font-family: 'Inter', serif;
$font-weight: 600;
$line-height: 28px;
$letter-spacing: 0.75px;

//colors
$sky-blue: #2295F2;
$dark-blue: #0977D0;
$gray: #D6D8E7;
$light-gray: #F7F7FC;
$transparent-blue: #E1ECFCFF;
$transparent-gray: #EFF0F7;



